.errorPage-wrapper {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;

	svg {
		width: 250px;
		height: 250px;
		fill: var(--text-secondary);
	}

	@media screen and (width <= 800px) {
		flex-wrap: wrap;
		padding: 0 5%;
		text-align: center;

		svg {
			width: 100px;
			height: 100px;
			fill: var(--text-secondary);
		}
	}
}
